/* Fonts 
    font-family: 'ibm_plex_sansbold';
    font-family: 'ibm_plex_sansmedium';
		font-family: 'ibm_plex_sansregular';
		font-family: 'ibm_plex_sanssemibold';
		font-family: 'ibm_plex_sans_condensedbold';
		font-family: 'ibm_plex_sans_condensedRg';
*/

@import url(../fonts/stylesheet.css);
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1;
	font-weight: normal;
	font-family: 'ibm_plex_sans_condensedRg';
	margin: 0px;
	padding: 0px;
	color: #111820;
	background: #fff;
	letter-spacing: normal;
	position: relative;
}

.mainWrapper {
	position: relative;
	overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

input:focus {
	outline: none;
	border: none;
}

input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], .form-control textarea, .form-control, textarea {
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
}

a[href^="tel"], a[href^="mailto"] {
	text-decoration: inherit;
	color: inherit;
}

a {
	text-decoration: none;
}

a, img {
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:-moz-placeholder {
	color: transparent;
}

::-webkit-input-placeholder {
	opacity: 1;
}

:-moz-placeholder {
	opacity: 1;
}

::-moz-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	opacity: 1;
}

.form-control::-moz-placeholder {
	opacity: 1;
}

.form-control::-webkit-input-placeholder {
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	opacity: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none;
}

fieldset, img {
	border: none;
}

ul, ol {
	padding-left: 17px;
}

.container {
	margin: 0 auto;
	max-width: 1130px;
	width: 100%;
}

.container.sml {
	max-width: 758px;
}

.clearfix {
	clear: both;
}

.float, .contentSection {
	float: left;
	width: 100%;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.full-width {
	width: 100% !important;
}

.half-width {
	width: 50% !important;
}

address {
	font-size: 14px;
	font-style: normal;
	line-height: 24px;
}

.mt30 {
	margin-top: 30px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mt60 {
	margin-top: 60px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.mb60 {
	margin-bottom: 60px !important;
}

.pb60 {
	padding-bottom: 60px !important;
}

.pt80 {
	padding-top: 80px !important;
}

.pt100 {
	padding-top: 100px !important;
}

.mb70 {
	margin-bottom: 70px !important;
}

.mb90 {
	margin-bottom: 90px !important;
}

.mb100 {
	margin-bottom: 100px !important;
}

.mb115 {
	margin-bottom: 115px !important;
}

.mb120 {
	margin-bottom: 120px !important;
}

.pb90 {
	padding-bottom: 90px !important;
}

.bdr-btm-none {
	border-bottom: none !important;
}

.padd-tb-90 {
	padding-top: 90px !important;
	padding-bottom: 90px !important;
}

.padd-tb-115 {
	padding-top: 115px !important;
	padding-bottom: 115px !important;
}

/* for video responsive */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-img-sec {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: 'ibm_plex_sans_condensedbold';
	font-weight: normal;
	margin-bottom: 15px;
	letter-spacing: normal;
	color: #000;
}

h1, h2 {
	font-size: 60px;
	line-height: 87px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 22px;
}

p {
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 10px;
}

/* BACKGROUND */

.bg-white {
	background: #fff;
}

.bg-yellow {
	background: #FFD116;
}

.bg-yellow * {
	color: #323C48;
}

.bg-blue-dk {
	background: #0F171E;
}

.bg-blue-dk * {
	color: #fff;
}

/* Flex */

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.space-evenly {
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.align-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.align-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.btn {
	font-size: 16px;
	display: inline-block;
	text-align: center;
	padding: 15px 30px;
	font-family: 'ibm_plex_sansmedium';
}

.btn-default {
	background: #FFD116;
	color: #111820;
	border: 1px solid transparent;
	overflow: hidden !important;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 10;
	padding: 18px 50px;
}

.btn-center {
	max-width: 180px;
	display: block;
	margin: 0 auto;
}

.btn-outline {
	border: 2px solid #d6001c;
	color: #d6001c;
	overflow: hidden !important;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: transparent !important;
	position: relative;
	z-index: 10;
	letter-spacing: 1.5px;
}

.btn-outline.white {
	border-color: #fff;
	color: #fff;
}

/* Btn 10  */

.btn-default:hover {
	background-color: transparent;
	color: #FFD116;
	border-color: #FFD116;
	letter-spacing: 0px;
}

.btn-outline:hover {
	background-color: #d6001c;
	color: #fff;
}

.btn-outline::before, .btn-default:before {
	content: "";
	width: 0%;
	height: 100%;
	display: block;
	background: #d6001c;
	position: absolute;
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	left: -10%;
	opacity: 1;
	top: 0;
	z-index: -12;
	-webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
	box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn-default:before {
	background: #fff;
}

.btn-outline::after, .btn-default:after {
	content: "";
	width: 0%;
	height: 100%;
	display: block;
	background: #b60119;
	position: absolute;
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	left: -10%;
	opacity: 0;
	top: 0;
	z-index: -15;
	-webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
	-webkit-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
	transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
	-webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
	box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn-default:after {
	background: #f6f6f6;
}

.btn-outline:hover::before, .btn-outline:hover::before, .btn-default:hover::before {
	opacity: 1;
	width: 116%;
}

.btn-outline:hover::after, .btn-default:hover::after {
	opacity: 1;
	width: 120%;
}

.btn-sml {
	min-width: 148px;
	padding: 10px 21px;
	letter-spacing: 1.31px;
}

/* VISIBILITY */

@media only screen and (min-width:768px) {
	.is-visible-mobile {
		display: none !important;
	}
	.is-visible-tablet {
		display: block !important;
	}
}

@media only screen and (max-width:767px) {
	.is-hidden-mobile, .is-hidden-tablet {
		display: none !important;
	}
	.is-visible-mobile {
		display: block !important;
	}
}
