@media only screen and (max-width:1340px) {
	.container {
		padding: 0 25px;
	}
	.site-navigation ul li {
		font-size: 16px;
	}
	.site-header-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 740px;
		flex: 0 0 740px;
	}
	.site-header-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 385px;
		flex: 0 0 385px;
		padding-left: 40px;
	}
	.multiple-items .slick-prev.slick-arrow {
		left: 15px;
	}
	.multiple-items .slick-next.slick-arrow {
		right: 15px;
	}
}

@media only screen and (max-width:1200px) {
	.site-header-left .logo {
		margin-right: 15px;
	}
	.site-navigation ul li {
		font-size: 15px;
	}
	.site-navigation ul li a {
		padding: 12px 8px;
	}
	.site-header-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.site-header-right {
		font-size: 18px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 320px;
		flex: 0 0 320px;
		padding-left: 30px;
	}
}

@media only screen and (min-width:1024px) {
	.toggle-btn {
		display: none;
	}
}

@media only screen and (max-width:1023px) {
	.purpose p {
		font-size: 17px;
	}
	.menuActive {
		overflow: hidden;
		position: relative;
		z-index: 0;
		height: 100%;
	}
	.menuActive::after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}
	.site .site-navigation {
		display: none;
	}
	.site-header .container.flex.space-between {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.toggle-btn {
		width: 30px;
		height: auto;
		display: inline-block;
		position: absolute;
		right: 25px;
		cursor: pointer;
		top: 37px
	}
	.toggle-btn span {
		display: block;
		width: 100%;
		height: 4px;
		background: #1F3363;
		margin-bottom: 4px;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	.toggle-btn span:last-of-type {
		margin-bottom: 0;
	}
	.toggle-btn.toggleActive span {
		-webkit-transform: translateY(7px) rotate(45deg);
		transform: translateY(7px) rotate(45deg);
		top: 9px;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	.toggle-btn.toggleActive span:last-of-type {
		-webkit-transform: translateY(-9px) rotate(-45deg);
		transform: translateY(-9px) rotate(-45deg);
		top: 0px;
	}
	.toggle-btn.toggleActive span:nth-of-type(2) {
		opacity: 0;
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
	}
	.site-header-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.site-header-right a:first-of-type {
		margin-right: 10px;
	}
	.site-header-left .site-navigation {
		display: block;
		position: fixed;
		right: 0;
		width: 300px;
		background: #fff;
		padding: 15px 25px 70px;
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
		height: calc(100% - 120px);
		overflow-y: auto;
		z-index: 999999;
	}
	.menuActive .site-header-left .site-navigation {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
	}
	.site-header-left .site-navigation li {
		margin-left: 0;
		float: none;
	}
	.site-header-left .site-navigation li:last-of-type {
		margin-top: 20px;
	}
	.site-header-left .site-navigation li a {
		padding: 15px 0 10px;
		display: block;
		border-bottom: 1px solid #211551;
	}
	.site-header-left .site-navigation li a:hover {
		color: #333;
		border-bottom: 1px solid #211551;
	}
	.site-header-left .site-navigation li:last-of-type a:hover {
		color: #fff;
		border-bottom: 1px solid #211551;
	}
	.img-sec, .text-sec {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%
	}
	.img-w-text:nth-child(2n) .img-sec {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
	.contactInfo .contactInfoLeft {
		width: 31%;
	}
	.contactInfo .contactInfoRight {
		width: 64%;
	}
	.contactInfoRight .col-2 .input-box {
		width: 49%;
	}
	.contactInfoRight .col-2 .input-box input, .contactInfoRight .col .input-box textarea {
		width: 100%;
	}
	.contactInfo .contactInfoLeft ul li, .contactInfo .contactInfoLeft ul li a, .contactInfo .contactInfoLeft ul li address {
		font-size: 17px;
	}
	.contactInfo .contactInfoLeft ul li a, .contactInfo .contactInfoLeft ul li address {
		width: calc(100% - 23px)
	}
	.contactInfo .contactInfoLeft ul li i {
		margin-right: 0;
	}
	.hero {
		padding: 12px;
	}
	.site-header.fixed-header {
		position: relative;
	}
	.banner {
		padding: 80px 0;
	}
	.banner h1 {
		font-size: 35px;
	}
}

@media only screen and (max-width:767px) {
	.site-header-right {
		font-size: 16px;
	}
	h1, h2 {
		font-size: 34px;
	}
	p {
		font-size: 15px;
	}
	.img-sec, .text-sec {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%
	}
	.text-sec {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		padding: 25px;
	}
	.text-sec h2, .img-w-text:nth-child(2n) .text-sec h2 {
		margin-left: 0;
		margin-right: 0;
		-webkit-transform: none;
		transform: none;
		padding-bottom: 20px;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
	.contactInfo .contactInfoLeft, .contactInfo .contactInfoRight {
		width: 100%;
	}
	.contactInfo .contactInfoLeft {
		margin-bottom: 40px;
	}
	.contactInfoRight input[type="submit"] {
		min-width: 200px;
		height: 45px;
	}
	.hero {
		padding: 10px;
	}
	.content-sec {
		padding: 0 25px;
	}
	.banner {
		padding: 65px 0;
	}
	.banner h1 {
		font-size: 32px;
	}
}

@media only screen and (max-width:639px) {
	.site-header-right {
		font-size: 14px;
		padding-left: 15px;
	}
	.logo img {
		max-width: 125px;
	}
	.toggle-btn {
		top: 30px;
	}
	h1, h2 {
		font-size: 30px;
	}
	.purpose h2 {
		padding-bottom: 10px;
	}
	.purpose p {
		font-size: 15px;
		padding-bottom: 30px;
	}
	.contactInfoRight .col-2 .input-box {
		width: 100%;
		margin-bottom: 15px;
	}
	.site-footer .container .footer-btm p, .footer-btm ul {
		width: 100%;
		text-align: center;
	}
	.site-footer .container .footer-btm p {
		padding-bottom: 15px;
	}
	.footer-btm ul li {
		float: none;
		display: inline-block;
	}
}

@media only screen and (max-width:479px) {
	.site-header-right {
		display: none;
	}
	.toggle-btn {
		right: 15px;
	}
	.container, .content-sec {
		padding: 0 15px;
	}
	h1, h2 {
		font-size: 26px;
	}
	.custom-slider .center-slide {
		width: 200px;
	}
	.center-slide-content {
		padding: 10px 10px 15px;
	}
	.custom-slider .center-slide img {
		height: 190px;
	}
	.custom-slider {
		min-height: 375px;
	}
	.slider-arrow {
		top: auto;
		bottom: 30px;
	}
	.slider-arrow.arrow-right {
		left: 52%;
		right: auto;
		bottom: 22px;
	}
	.slider-arrow.arrow-left {
		left: auto;
		right: 52%;
	}
}
