/* Fonts 
    font-family: 'ibm_plex_sansbold';
    font-family: 'ibm_plex_sansmedium';
		font-family: 'ibm_plex_sansregular';
		font-family: 'ibm_plex_sanssemibold';
		font-family: 'ibm_plex_sans_condensedbold';
		font-family: 'ibm_plex_sans_condensedRg';
*/

/* HEADER */

.site-header {
	font-family: 'ibm_plex_sansmedium';
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .09);
	box-shadow: 0 2px 12px rgba(0, 0, 0, .09);
	position: relative;
	z-index: 999999;
	-webkit-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
	background: #111820;
}

.site-header.fixed-header {
	position: fixed;
	background: #fff;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	left: 0;
	top: 0;
	width: 100%;
}

.site-header-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 1050px;
	flex: 0 0 1050px;
	padding-left: 55px;
}

.site-header-left .logo {
	margin-right: 130px;
}

.site-header-right {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 424px;
	flex: 0 0 424px;
	font-size: 13px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}

.site-header-right a {
	color: #fff;
	background: #323C48;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-right: 1px solid #546170;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'ibm_plex_sanssemibold';
}

.site-header-right a:last-of-type {
	border-right: none;
}

.site-header-right a:hover {
	color: #323C48;
	background: #ececec;
}

.site-header-right a i {
	margin-right: 13px;
	color: #1F3363;
}

.site-navigation ul, .site-header-right ul {
	padding-left: 0;
}

.site-navigation ul li {
	float: left;
	list-style: none;
	font-size: 16px;
	text-align: center;
}

.site-navigation ul li a {
	padding: 38px 45px 38px;
	display: block;
	color: #fff;
	border-bottom: 2px solid transparent;
}

.fixed-header.site-header {
	background: #323C48;
}

.fixed-header .site-navigation ul li a {
	padding: 25px 45px 25px;
}

.site-navigation ul li a:hover {
	background: #FFD116;
	color: #fff;
	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .09);
	box-shadow: 0 2px 12px rgba(0, 0, 0, .09);
}

.site-navigation ul li.menu-has-children a i {
	font-size: 26px;
	display: inline-block;
	vertical-align: middle;
	line-height: 0.5;
	margin-top: -6px;
	margin-left: 10px;
}

.space {
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.site-navigation ul li.menu-has-children:hover .sub-menu {
	display: block;
}

.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	width: 100%;
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	display: none;
}

.sub-menu:after {
	position: absolute;
	content: "";
	left: -50vw;
	right: -50vw;
	height: 100%;
	background: #fff;
	z-index: -1;
	top: 0;
}

.site-navigation ul li .sub-menu li {
	float: none;
	display: inline-block;
	padding-top: 45px;
	padding-bottom: 0;
	padding-left: 45px;
	padding-right: 45px;
}

.site-navigation ul li .sub-menu li a {
	padding: 0;
	padding-bottom: 20px;
	color: #323C48;
	position: relative;
	font-family: 'ibm_plex_sansregular';
}

.site-navigation ul li .sub-menu li a:hover {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #FFD116;
	font-family: 'ibm_plex_sansmedium';
}

.site-navigation ul li .sub-menu li a::after {
	position: absolute;
	content: "";
	bottom: -3px;
	height: 6px;
	background: #FFD116;
	left: 0;
	z-index: 3;
	width: 0%;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.site-navigation ul li .sub-menu li a:hover:after {
	width: 100%;
}

.hero {
	padding-top: 150px;
	padding-bottom: 190px;
	position: relative;
	overflow: hidden;
}

.hero.innerpage {
	padding-bottom: 145px;
}

.hero.innerpage.business-services {
	padding-bottom: 268px;
	padding-top: 100px;
}

.hero:after, .hero:before {
	position: absolute;
	content: "";
	right: 92%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../images/logo-icon.png) no-repeat left center;
	width: 546px;
	height: 469px;
}

.hero:before {
	right: auto;
	-webkit-transform: none;
	transform: none;
	bottom: -60px;
	top: auto;
	left: 88%;
}

.hero.innerpage:after, .hero.innerpage:before {
	content: none;
}

.heading-w-center-bdr {
	color: #3A53A4;
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-family: 'ibm_plex_sansbold';
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 45px;
}

.heading-w-center-bdr.yellow {
	color: #FFD116;
}

.heading-w-center-bdr:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	height: 2px;
	width: 10px;
	background: #3A53A4;
	top: 100%
}

.heading-w-center-bdr.yellow:after {
	background: #FFD116;
}

.bg-yellow .heading-w-center-bdr {
	color: #323C48;
}

.bg-yellow .heading-w-center-bdr:after {
	background: #323C48;
}

.w-pseudo {
	position: relative;
	overflow: hidden;
}

.bg-yellow.w-pseudo:after {
	position: absolute;
	content: "";
	left: 77.5%;
	width: 709px;
	height: 619px;
	background: url(../images/logo-icon_black.png) no-repeat center right / cover;
	bottom: -100px;
}

.hero p {
	font-size: 20px;
	font-family: 'ibm_plex_sans_condensedRg';
	padding-bottom: 90px;
}

.hero.innerpage p {
	padding-bottom: 20px;
}

.hero.innerpage.process:after, .hero.innerpage.process:before {
	background: url(../images/logo-icon-process.png) no-repeat center bottom / cover;
	content: "";
	height: 812px;
	width: 945px;
	-webkit-transform: none;
	transform: none;
	top: auto;
	bottom: -100px;
	right: 85%;
}

.hero.innerpage.process:before {
	right: auto;
	left: 79.5%;
}

.hero .btn-group .btn:first-of-type {
	margin-right: 60px
}

/* HEADING SECTION */

.heading-sec {
	padding-bottom: 20px;
}

.heading-sec h2 {
	padding-bottom: 15px;
}

.heading-sec>p {
	font-family: 'ibm_plex_sans_condensedRg';
}

.heading-sec.w-bdr-center {
	position: relative;
}

.heading-sec.w-bdr-center p {
	padding-bottom: 60px;
	color: #323C48;
}

.heading-sec.w-bdr-center:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	background: #FFD116;
	height: 2px;
	width: 10px;
	margin: auto;
	text-align: center;
}

.heading-sec.w-bdr-center img {
	margin-bottom: 55px;
}

.sec-w-bg-btm {
	background: #0F171E url(../images/bitmap.png) no-repeat center bottom / 100%;
	color: #fff;
	padding-top: 115px;
	padding-bottom: 150px;
}

.sec-w-bg-btm .heading-sec * {
	color: #fff;
}

.sec-w-bg-btm .three-col-sec {
	max-width: 960px;
	margin: 0 auto;
	text-align: left;
	padding-top: 60px;
}

.sec-w-bg-btm.white-text {
	color: #fff;
}

.sec-w-bg-btm.white-text .info-sec p {
	color: #fff;
	font-family: 'ibm_plex_sans_condensedRg';
}

.three-col-sec .col {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 260px;
	flex: 0 0 260px;
}

.col-sec .col strong {
	font-size: 15px;
	font-family: 'ibm_plex_sansbold';
	color: #FFD116;
	position: relative;
	font-weight: normal;
	padding-bottom: 20px;
	margin-bottom: 15px;
	display: inline-block;
}

.col-sec .col strong:after {
	position: absolute;
	content: "";
	left: 0;
	top: 100%;
	width: 12px;
	height: 2px;
	background: #ffd116;
}

.col-sec .col p {
	font-size: 14px;
}

.sec-w-desc-w-bdr-center {
	padding-top: 115px;
	padding-bottom: 97px;
}

.sec-w-desc-w-bdr-center .container {
	max-width: 758px;
}

.info-sec p {
	padding-bottom: 30px;
	font-size: 14px;
	font-family: 'ibm_plex_sansregular';
	color: #323C48;
}

.info-sec p a {
	color: #323C48;
	font-family: 'ibm_plex_sanssemibold';
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom: 2px solid #323C48;
}

.info-sec p a:hover {
	color: #FFD116;
	border-color: #FFD116;
}

.bg-white .info-sec p {
	font-family: 'ibm_plex_sans_condensedRg';
}

.bg-white .info-sec p a {
	font-family: 'ibm_plex_sans_condensedRg';
	border-width: 0px;
	padding-bottom: 0;
	text-decoration: underline;
}

.info-sec .btn {
	min-width: 270px;
	margin-top: 25px;
}

/* Footer */

.site-footer {
	position: relative;
	z-index: 0;
	color: #fff;
	overflow: hidden;
}

.site-footer-top {
	position: relative;
	padding-top: 60px;
	padding-bottom: 40px;
}

.site-footer-top:after {
	position: absolute;
	content: "";
	background-image: url(../images/footer-bg.png);
	background-position: center center;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	top: 0;
	left: 0;
}

.site-footer-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 466px;
	flex: 0 0 466px;
}

.site-footer-left a {
	display: block;
}

.site-footer-left a:hover {
	color: #FFD116;
}

.site-footer-left h3 {
	color: #fff;
}

.site-footer-left p {
	padding-bottom: 50px;
	font-size: 14px;
	font-family: 'ibm_plex_sansregular';
}

.site-footer-right {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 461px;
	flex: 0 0 461px;
}

.input-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 12px;
}

.input-col .input-box {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%
}

.input-col.col-2 .input-box {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 48%;
	flex: 0 0 48%;
}

.input-col .input-box input, .input-col .input-box select, .input-col .input-box textarea {
	width: 100%;
	border: none;
	background: #323C48;
	color: #AEB2B8;
	padding: 10px 13px;
	font-family: 'ibm_plex_sansmedium';
	font-size: 13px;
}

.input-col .input-box select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../images/angle-down.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}

.input-col .input-box textarea {
	resize: none;
	height: 110px;
}

.site-footer-right input[type="submit"] {
	float: right;
	cursor: pointer;
}

.site-footer-btm {
	background: #323C48;
	padding: 50px 0;
}

.site-footer-btm p {
	color: #AEB2B8;
	font-family: 'ibm_plex_sansmedium';
	font-size: 13px;
}

.social-icon a {
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	font-size: 24px;
}

.social-icon a:hover {
	color: #FFD116;
}

.img-w-text {
	/* padding-top: 100px;
	padding-bottom: 40px; */
	position: relative;
}

.img-sec {
	position: relative;
	overflow: hidden;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	padding-top: 115px;
	padding-bottom: 115px;
}

.img-sec img {
	float: right;
	position: relative;
	z-index: 1;
}

.img-sec::after, .img-sec::before, .reverse.image-w-text-sec .img-w-text:nth-child(2n) .img-sec::before, .reverse.image-w-text-sec .img-w-text:nth-child(2n) .img-sec::after {
	position: absolute;
	content: "";
	right: 335px;
	top: 25px;
	width: 839px;
	height: 721px;
	background: url(../images/logo-icon_white-.png) no-repeat center center / cover;
}

.img-sec::before, .reverse.image-w-text-sec .img-w-text:nth-child(2n) .img-sec::before {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	left: auto;
	background: url(../images/logo-icon-right.png) no-repeat left bottom / 100%;
	height: 539px;
	width: 315px;
	right: -30px;
	top: 50px;
}

.img-w-text .img-sec, .reverse .img-w-text .img-sec {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.img-w-text:first-of-type .img-sec {
	padding-bottom: 54px;
	padding-top: 60px;
}

.img-w-text .text-sec, .reverse.image-w-text-sec .img-w-text:nth-child(2n) .text-sec {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	padding-left: 140px;
	padding-top: 100px;
}

.img-w-text .text-sec h2 {
	line-height: 61px;
	margin-bottom: 33px;
}

.img-w-text .text-sec p {
	font-size: 17px;
}

.img-w-text .text-sec-inner {
	max-width: 416px;
}

.image-w-text-sec .img-w-text:nth-child(2n), .reverse.image-w-text-sec .img-w-text:nth-child(odd) {
	background: #323C48;
}

.image-w-text-sec .img-w-text:nth-child(2n) .img-sec, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .img-sec {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	padding-top: 115px;
	padding-bottom: 115px;
}

.image-w-text-sec .img-w-text:nth-child(2n) .img-sec:after, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .img-sec:after {
	background: url(../images/logo-icon-blue.png) no-repeat left bottom / 100%;
	left: 350px;
	right: auto;
}

.reverse.image-w-text-sec .img-w-text:nth-child(even) .img-sec:after {
	left: auto;
}

/* .reverse.image-w-text-sec .img-w-text:nth-child(odd) .img-sec:after {
	left: 350px;
	right: auto;
	background: url(../images/logo-icon-blue.png) no-repeat left bottom / 100%;
} */

.image-w-text-sec .img-w-text:nth-child(2n) .img-sec:before, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .img-sec:before {
	background: url(../images/logo-icon-right-blue.png) no-repeat left bottom / 100%;
	right: 556px;
	width: 304px;
	top: auto;
	bottom: 0;
	height: 493px;
	-webkit-transform: none;
	transform: none;
	left: 0;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n) .img-sec:before {
	left: auto;
	right: 0;
}

.image-w-text-sec .img-w-text:nth-child(2n) .img-sec img, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .img-sec img {
	float: left;
}

.reverse.image-w-text-sec .img-w-text:nth-child(even) .img-sec img {
	float: right;
}

.image-w-text-sec .img-w-text:nth-child(2n) .text-sec, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .text-sec {
	padding-right: 100px;
	padding-left: 0;
	color: #fff;
	padding-bottom: 100px;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n) {
	background: #fff;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n) .text-sec {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: 1;
	order: 1;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n+1) .img-sec {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: 1;
	order: 1;
}

.image-w-text-sec .img-w-text:nth-child(2n) .text-sec h2, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .text-sec h2 {
	color: #fff;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n) .text-sec h2 {
	color: #000;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n) .text-sec p {
	color: #111820;
}

.image-w-text-sec .img-w-text:nth-child(2n) .text-sec-inner, .reverse.image-w-text-sec .img-w-text:nth-child(odd) .text-sec-inner {
	float: right;
	max-width: 450px;
}

.reverse.image-w-text-sec .img-w-text:nth-child(2n) .text-sec-inner {
	float: left;
}

.data-img {
	margin-top: -220px;
	position: relative;
	margin-bottom: 115px;
}

.common-sec {
	padding-top: 130px;
	padding-bottom: 130px;
}

.common-sec .info-sec p {
	font-family: 'ibm_plex_sans_condensedRg';
}
