<footer class="site-footer float">
	<!-- FOOTER TOP -->
	<div class="site-footer-top">
		<div class="container flex space-between">
			<!-- FOOTER LEFT -->
			<div class="site-footer-left">
				<h3>Contact Us</h3>
				<p>EuGenius Solutions, based in the Pacific Northwest, provides managed IT services, IT consulting, and tech
					support to companies nationwide.</p>
				<div class="flex space-between col-sec">
					<div class="col">
						<strong>HOW TO REACH US</strong>
						<p>
							<a href="mailto:team@eugeniussolutions.com">team@eugeniussolutions.com</a> <a href="tel:206-458-7529">206-458-7529</a>
							<a href="tel:800-215-0527">800-215-0527</a> Fax:206-458-7518 </p>
					</div>
					<div class="col">
						<strong>ADDRESS</strong>
						<address>EuGenius Solutions, LLC<br> 800 5th Ave., Ste. 101-206<br> Seattle, WA 98104</address>
					</div>
				</div>
			</div>
			<!-- FOOTER RIGHT -->
			<div class="site-footer-right">
				<form>
					<!-- INPUT COL -->
					<div class="input-col">
						<!-- INPUT BOX -->
						<div class="input-box">
							<input type="text" placeholder="Full Name">
						</div>
					</div>
					<!-- INPUT COL -->
					<div class="input-col col-2">
						<!-- INPUT BOX -->
						<div class="input-box">
							<input type="text" placeholder="Company Name">
						</div>
						<!-- INPUT BOX -->
						<div class="input-box">
							<input type="text" placeholder="Title">
						</div>
					</div>
					<!-- INPUT COL -->
					<div class="input-col col-2">
						<!-- INPUT BOX -->
						<div class="input-box">
							<input type="tel" placeholder="Phone *">
						</div>
						<!-- INPUT BOX -->
						<div class="input-box">
							<input type="email" placeholder="Email *">
						</div>
					</div>
					<!-- INPUT COL -->
					<div class="input-col">
						<!-- INPUT BOX -->
						<div class="input-box">
							<select name="" id="">
								<option value="">Inquiry Type</option>
								<option value="">Inquiry Type</option>
								<option value="">Inquiry Type</option>
								<option value="">Inquiry Type</option>
							</select>
						</div>
					</div>
					<!-- INPUT COL -->
					<div class="input-col">
						<!-- INPUT BOX -->
						<div class="input-box">
							<textarea name="" id="" placeholder="Message"></textarea>
						</div>
					</div>
					<input type="submit" value="Submit" class="btn btn-default">
				</form>
			</div>
		</div>
	</div>
	<!-- FOOTER BTM -->
	<div class="site-footer-btm">
		<div class="container flex space-between">
			<a href="" class="logo">
				<img src="images/Logo_Color.png" alt="">
			</a>
			<div class="social-icon">
				<a href=""><i class="fa fa-linkedin"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-facebook"></i></a>
			</div>
			<p>&copy; Copyright. 2019 EuGenius Solutions</p>
		</div>
</footer>
