<!-- SITE HEADER -->
<header class="site-header float">
	<div class=" flex space-between ">
		<!-- TOGGLE BTN -->
		<div class="toggle-btn"><span></span> <span></span> <span></span></div>
		<!-- HEADER LEFT -->
		<div class="site-header-left flex align-center">
			<a href="index.html" class="logo">
				<img src="images/Logo_Color.png" alt="logo">
			</a>
			<nav class="site-navigation">
				<ul>
					<li class="menu-has-children"><a href="#people">Our Offerings<i class=" fa fa-angle-down"></i></a>
						<!-- SUBMENU -->
						<div class="sub-menu">
							<ul>
								<li><a href="">Business Solutions</a></li>
								<li><a href="">Cloud</a></li>
								<li><a href="">Collaboration</a></li>
								<li><a href="">Business Continuity</a></li>
								<li><a href="">Security</a></li>
								<li><a href="">Storage</a></li>
								<li><a href="">Structured Cabling</a></li>
							</ul>
						</div>
					</li>
					<li class="menu-has-children"><a href="#people">Our Process<i class=" fa fa-angle-down"></i></a>
						<!-- SUBMENU -->
						<div class="sub-menu">
							<ul>
								<li><a href="">Business Services</a></li>
								<li><a href="">Managed IT Services</a></li>
								<li><a href="">Networking</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#things">Our Company</a></li>
				</ul>
			</nav>
		</div>
		<!-- HEADER RIGHT -->
		<div class="site-header-right  flex space-between ">
			<a href="">Support Portal</a>
			<a href=""><i><img src="images/live-chat.png" alt=""></i>Live Chat</a>
		</div>
	</div>
</header>
